@media (min-width: 300px) and (max-width: 768px) {
    .candidates-card {
        min-height: 38em !important;
        color: #050D4D;
        margin-top: 5em;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        width: 21em;
        margin:auto
    }

    .btn-moreinfo {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 10.3em;
        position: relative;
        display: block;
        margin: auto
    }

    .btn-cacc-su-backSelec {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 18em;
        transform: translate(0em, 7em);
        position: relative;
        display: block;
        margin: auto;

    }

    .btn-cacc-su-req-inform {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 15em;
        position: relative;
        display: block;
        margin: auto;
    }

    .btn-cacc-su-req-inform-succeed {
        border: none;
        background-color: #008DF1;
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 15em;
        position: relative;
        display: block;
        margin: auto;
    }

    .label-candidates {
        margin-left: 3em
    }

    .p-nameCandidate {
        color: #050D4D;
        font-size: 1.3em;
        font-weight: 600;
        margin-left: 1.5em;
    }

    .rejec-candidate {
        border: none;
        background-color: transparent;
        color: #050D4D;
        margin: 1em 1em 1em 5em;
        text-align: left
    }

    .li-education {
        text-align: justify;
        width: 70%;
        margin-left: 3em;
        white-space: break-spaces;
    }

    .rec-byProf {
        color: #050D4D;
        position: relative;
        top: 2em;
        font-size: .8em;
    }

}

@media (min-width: 1024px) {
    .candidates-card {
        min-height: 25em;
        color: #050D4D;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 10px;
        width: 74em;
        position: relative;
        margin-top: 6em;
        width: 40em
    }

    .btn-moreinfo {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 10.3em;
        position: relative;
        display: block;
        margin: auto
    }

    .btn-cacc-su-backSelec {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 22em;
        left: 19em;
        top: 7em;
        position: relative;
        transition: all .5s;

    }

    .btn-cacc-su-backSelec:hover {
        transform: scale(1.2);
    }

    .btn-cacc-su-req-inform {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 30em;
        position: relative;
        display: block;
        margin-left: 3em;
        transition: all .5s;
    }

    .btn-cacc-su-req-inform:hover {
        transform: scale(1.2);
    }

    .btn-cacc-su-req-inform-succeed {
        border: none;
        background-color: #008DF1;
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 30em;
        position: relative;
        display: block;
        margin: auto;
    }

    .label-candidates {
        margin-left: 11em
    }

    .p-nameCandidate {
        color: #050D4D;
        font-size: 1.3em;
        font-weight: 600;

    }

    .rejec-candidate {
        border: none;
        background-color: transparent;
        color: #050D4D;
        margin: 1em 1em 1em 5em;
        text-align: left
    }

    .li-education {
        text-align: justify;
        width: 80%;
        margin-left: 4em;
        white-space: break-spaces;
    }

    .rec-byProf {
        color: #050D4D;
        position: relative;
        top: 2em;
        right: 5em
    }
}