@media (min-width: 300px) and (max-width: 768px) {
    
   .card-homePage{
        height: 30em !important;
        color: #050D4D;
        margin-top: 5em;
        margin-left:auto;
        margin-right:auto;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        width: 23em;
        left: .3em;
        position: relative;
        transform: translate(0em, -8em);
     }
     .card-homePage-user{
      height: 37em;
      color: #050D4D;
      margin-top: 5em;
      margin-left:auto;
      margin-right:auto;
      box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
      border-radius: 5px;
      width: 23em;
      left: .3em;
      position: relative;
      transform: translate(0em, -8em);
      }
     .card-homePage-big{
        height: 73em !important;
        color: #050D4D;
        margin-top: 5em;
        margin-left:auto;
        margin-right:auto;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        width: 23em;
        left: .3em;
        position: relative;
        transform: translate(0em, -8em);
     }

     .headers-homePage-p{
        color: #050D4D;
        text-align: left;
        font-weight: 600;
        margin-left:.7em;
        margin-top:.5em
     }
     .p-homePage-company{
        text-align: left;
        margin:2em 1em 1em 1em
     }
    }

    @media (min-width: 1024px) {
        .card-homePage{
            height: 13.5em !important;
            color: #050D4D;
            box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
            border-radius: 10px;
            width: 74em;
            position: relative;
            left: 18em;
            margin-top: 3em
        }
        .card-homePage-user{
        height: 22em;
         color: #050D4D;
         box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
         border-radius: 10px;
         width: 74em;
         position: relative;
         left: 18em;
         margin-top: 3em
        }

        .card-homePage-big{
            height: 44em !important;
            color: #050D4D;
            box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
            border-radius: 10px;
            width: 74em;
            position: relative;
            left: 18em;
            margin-top: 3em;
            margin-bottom:2em
        }

        .headers-homePage-p{
            color: #050D4D;
            text-align: left;
            font-weight: 600;
            margin-left:1em;
            margin-top:.5em;
            line-height: .4em;
         }

         .p-homePage-company{
            text-align: left;
            margin:1em 1em 1em 1em
         }
    }