@media (min-width: 300px) and (max-width: 1099px) {

    .btn-handler-long-company {
        padding-right: 2.50em !important;
        background: none;
        border: none
    }
    .btn-misdatos{
            padding-right:9.069em
    }
    .btn-misSelec {
        padding-right: 3.9em;
        background: none;
        border: none
    }
    .btn-publicar-oferta{
        border: none !important;
        background-color: rgb(255, 188, 73) !important;
        color: white !important;
        padding: .4em !important;
        border-radius: 3px !important;
        text-align: center !important;
        width: 12em !important;
        height: 3em !important;
        margin-left: 3em !important;
    }
    .companyMenu .bm-menu {

        padding: 2.5em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #050D4C;
        width: 19em
    }
    .gamanfy-logo-company-menu{
        height:2em;
        margin-left: 3.5em
    }
    .gamanfy-logo-company-menu:hover{
        background: transparent;
    }
    .companyMenu  .bm-cross {
        background: red 
    }

    .card-offers-company-dashboard{
        margin-left:1.2em
    }
 
}


@media (min-width: 1099px) {
    
    .btn-handler-long-company {
        padding-right: 2.50em !important;
        background: none;
        border: none
    }
    .btn-misdatos{
            padding-right:9.069em
    }
    .btn-misSelec {
        padding-right: 3.9em;
        background: none;
        border: none
    }
    .btn-publicar-oferta{
        border: none !important;
        background-color: rgb(255, 188, 73) !important;
        color: white !important;
        padding: .4em !important;
        border-radius: 3px !important;
        text-align: center !important;
        width: 12em !important;
        height: 3em !important;
        margin-left: 3em !important;
    }
    .companyMenu .bm-menu {

        padding: 2.5em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #050D4C;
        width: 19em
    }
    .gamanfy-logo-company-menu{
        height:2em;
        margin-left: 3.5em
    }
    .gamanfy-logo-company-menu:hover{
        background: transparent;
    }

    .companyMenu .bm-cross-button {
        visibility: hidden;
        position: absolute;  
        width: 24px;
        height: 24px;
        right: 6em !important;
        top: 8px; 
       
    }
    .card-offers-company-dashboard{
        margin-left:3.2em
    }
    .companyOffersh3{
        position: relative;
        left:1.3em;
        top:1em
    }


 
}