@media (min-width: 300px) and (max-width: 1099px) {

    .btn-handler-long-company {
        padding-right: 2.50em !important;
        background: none;
        border: none
    }

    .btn-misdatos {
        padding-right: 10.97em
    }

    .btn-misSelec {
        padding-right: 5.78em;
        background: none;
        border: none
    }

    .btn-publicar-oferta {
        border: none !important;
        background-color: rgb(255, 188, 73) !important;
        color: white !important;
        padding: .4em !important;
        border-radius: 3px !important;
        text-align: center !important;
        width: 12em !important;
        height: 3em !important;
        margin-left: 3em !important;
    }

    .companyMenu .bm-menu {

        padding: 4.52em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #050D4C;
        width: 21em
    }

    .gamanfy-logo-company-menu {
        height: 2em;
        margin-left: 3.5em
    }

    .gamanfy-logo-company-menu:hover {
        background: transparent;
        width: 10.05em !important;
        background-color: transparent !important;
    }


    .companyMenu .bm-cross {
        background: red
    }

    .card-offers-company-dashboard {
        margin-left: 1.2em
    }


    .modal-offer-btn {
        background-color: #2C8DEE;
        border-radius: 3px;
        color: white;
        border: none;
        padding: .4em;
        width: 12em;
        display: block;
        margin: auto !important;
        line-height: 1.6em;
        margin-bottom: .6em !important;
    }

    .p-modal-offer {
        color: #050D4D;
        font-weight: 600
    }

    .p-modalBody-offer {
        color: #050D4D;
        line-height: 2.6em;
    }

    .delete-offer-btn {
        border: none;
        background-color: transparent;
        color: #050D4D;
        text-decoration: underline;

    }

    .modal-sendRec-company .modal-content {
        background-color: transparent !important;
        border: none !important
    }

    
    .fa-hand-point-left {
        visibility: hidden;
    }


}


@media (min-width: 1099px) {

    .btn-handler-long-company {
        padding-right: 2.50em !important;
        background: none;
        border: none
    }

    .btn-misdatos {
        padding-right: 9.069em
    }

    .btn-misSelec {
        padding-right: 3.9em;
        background: none;
        border: none
    }

    .btn-publicar-oferta {
        border: none !important;
        background-color: rgb(255, 188, 73) !important;
        color: white !important;
        padding: .4em !important;
        border-radius: 3px !important;
        text-align: center !important;
        width: 12em !important;
        height: 3em !important;
        margin-left: 3em !important;
    }

    .companyMenu .bm-menu {

        padding: 2.5em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #050D4C;
        width: 19em
    }

    .gamanfy-logo-company-menu {
        height: 2em;
        margin-left: 3.5em
    }

    .gamanfy-logo-company-menu:hover {
        background: transparent;
        width: 11.7em
    }

    .companyMenu .bm-cross-button {

        position: absolute;
        width: 24px;
        height: 24px;
        right: 6em !important;
        top: 8px;

    }

    .card-offers-company-dashboard {
        margin-left: 3.2em
    }

    .companyOffersh3 {
        position: relative;
        left: 1.3em;
        top: 1em
    }

    .companyMenu .bm-cross {
        background: red
    }

    .bm-overlay {
        background: transparent !important;
        z-index: -2 !important
    }

    .modal-offer-btn {
        background-color: #2C8DEE;
        border-radius: 3px;
        color: white;
        border: none;
        padding: .4em;
        width: 12em;
        margin: 1em 1.2em
    }

    .p-modal-offer {
        color: #050D4D;
        font-weight: 600;
        padding-top: 1em
    }

    .p-modalBody-offer {
        color: #050D4D;
        line-height: 2.6em;
    }

    .delete-offer-btn {
        border: none;
        background-color: transparent;
        color: #050D4D;
        text-decoration: underline;
        text-align: right;
        position: absolute;
        right: 5em;
        top: 5em;

    }

    .p-modal-dash {
        cursor: pointer;
    }

    .fade:hover {
        background: transparent !important;
    }

    .form-company-rec {
        height: 35em;
    }

    .modal-sendRec-company .modal-content {
        background-color: transparent !important;
        border: none !important
    }

    .fa-hand-point-left {
        font-size: 1.5em;
        position: relative;
        left: 9.5em;
        bottom: 1em;
    }

    .slide-left {
        -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
        animation-delay: 1.5s;
    }

    @-webkit-keyframes slide-left {
        0% {
            -webkit-transform: translateX(10);
            transform: translateX(10);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(-17px);
            transform: translateX(-17px);
            opacity: 0;
        }
    }

    @keyframes slide-left {
        0% {
            -webkit-transform: translateX(10);
            transform: translateX(10);
            opacity: 1;

        }

        98% {
            -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
            opacity: .6;
        }
        99%{
            -webkit-transform: translateX(-17px);
            transform: translateX(-17px);
            opacity: .3;
        }
        100% {
            -webkit-transform: translateX(-17px);
            transform: translateX(-17px);
            opacity: 0;

        }
    }


}