    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;

    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-weight: 600;
    }

    h1,
    h2 {
        color: white;
    }

    p {
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    h3 {
        color: #050D4D
    }

    .btn-cacc:hover {
        color: white
    }

    button:not(:disabled), [type="button"]:not(:disabled){
        outline:none;
    }


    @media (min-width: 300px) and (max-width: 768px) {

        .home-container {
            height: 100vh;
            background: rgb(16, 95, 187);
            background: linear-gradient(137deg, rgba(16, 95, 187, 1) 30%, rgba(37, 16, 85, 1) 67%, rgba(37, 16, 85, 1) 82%);
            overflow-x: hidden;
        }

        .wrapper-sm-prelog {
            display: flex;
            flex-direction: column;

            align-items: center;
        }

        .home-img {
            width: 10em;
        }

        .hr-preLog {
            border: solid 1px white;
            width: 80vw;
            display: block;
            margin: auto;
            position: relative;
            top: 3em
        }

        .homeContainer-left {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 20em;
            height: 14em;
            margin: auto;
            margin-bottom: 1.5em;
        }

        .homeContainer-right {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 20em;
            height: 14em;
            margin-top: 3em;
            margin-bottom: 2em;
            margin: auto;

        }

        .homeContainer-left-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 20em;
            height: 14em;
            margin-top: 6em;

        }

        .homeContainer-right-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 20em;
            height: 14em;
            margin-top: 3em;
            margin-bottom: 2em;
        }

        .homeContainer-text {
            color: #050D4D;
            font-weight: 300;
        }

        .homeContainer>p {
            color: #050D4D;
            font-weight: 600;
        }

        .btn-cacc {
            background-color: rgb(255, 188, 73);
            color: white;
            padding: .2em;
            border-radius: 3px;
            text-align: center;
            width: 16em
        }

        .homeContainer>p>a {
            text-decoration: none;
        }

        .hr-wrapper {
            display: flex;
            justify-content: center;
        }

        .hr-left {
            width: 4em;
            border: .01em white solid;
            height: .02em;
            margin-top: 2.5em;
            margin-right: 1em;
        }

        .hr-right {
            width: 4em;
            border: .01em white solid;
            height: .02em;
            margin-top: 2.5em;
            margin-left: 1em;
        }

        .p-cacc {
            margin-bottom: 2em;
            transition: all .3s ease-in-out;
        }

        .p-cacc:hover {
            transform: scale(1.1)
        }

    }


    @media(min-width:768px) and (max-width:1024px) {

        .home-container {
            height: 100vh;
            background: rgb(16, 95, 187);
            background: linear-gradient(137deg, rgba(16, 95, 187, 1) 30%, rgba(37, 16, 85, 1) 67%, rgba(37, 16, 85, 1) 82%);
            overflow-x: hidden;
        }

        .p-homepage {
            margin-top: 4em;
        }

        .home-img {
            width: 10em;
        }

        .hr-preLog {
            border: solid 1px white;
            width: 80vw;
            display: block;
            margin: auto;
            position: relative;
            top: 3em
        }

        .homeContainer-wrapper {
            margin-top: 5em;
            line-height: 2em;
        }

        .homeContainer-left {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 35em;
            height: 14em;
            margin: auto;
            margin-bottom: 2.5em;
        }

        .homeContainer-right {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 35em;
            height: 14em;
            margin-top: 3em;
            margin-bottom: 2em;
            margin: auto;

        }

        .wrapper-sm-prelog {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 7em;
        }

        .homeContainer-left-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 35em;
            height: 11em;
            margin: auto;
            margin-bottom: 2.5em;

        }

        .homeContainer-right-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 35em;
            height: 11em;
            margin-top: 3em;
            margin-bottom: 2em;
            margin: auto;
        }

        .homeContainer-text {
            color: #050D4D;
            font-weight: 300;
        }

        .homeContainer>p {
            color: #050D4D;
            font-weight: 600;
        }

        .btn-cacc {
            background-color: rgb(255, 188, 73);
            color: white;
            padding: .2em;
            border-radius: 3px;
            text-align: center;
            width: 16em
        }

        .homeContainer>p>a {
            text-decoration: none;
        }

        .hr-wrapper {
            display: flex;
            justify-content: center;
        }

        .hr-left {
            width: 9em;
            border: .01em white solid;
            height: .02em;
            margin-top: 8.5em;
            margin-right: 5em;
        }

        .hr-right {
            width: 9em;
            border: .01em white solid;
            height: .02em;
            margin-top: 8.5em;
            margin-left: 5em;
        }

        .p-cacc {
            margin-bottom: 2em;
            transition: all .3s ease-in-out;
        }

        .p-cacc:hover {
            transform: scale(1.1)
        }
    }


    @media (min-width: 1024px) {

        .home-container {
            height: 100vh;
            background: rgb(16, 95, 187);
            background: linear-gradient(137deg, rgba(16, 95, 187, 1) 30%, rgba(37, 16, 85, 1) 67%, rgba(37, 16, 85, 1) 82%);
            overflow: auto
        }

        .homeContainer-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 1.5em
        }

        .homeContainer-left {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 25em;
            height: 15em;
            margin-right: 1.5em;
        }

        .homeContainer-right {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 25em;
            height: 15em;
            margin-right: 1.5em;
        }

        .homeContainer-left-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 25em;
            height: 15em;
            margin-top: 14em;
            display: inline-block;
        }

        .homeContainer-right-preLog {

            background-color: white;
            box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1em;
            width: 25em;
            height: 15em;
            margin-top: 12.9em;
            display: inline-block;
            position: relative;
            left: 6em;
            top: 1em;
        }

        .hr-preLog {
            border: solid 1px white;
            width: 40vw;
            display: block;
            margin: auto;
            position: relative;
            top: 3em
        }

        .hr-wrapper {
            display: flex;
            justify-content: center;
        }

        .hr-left {
            width: 13em;
            border: .01em white solid;
            height: .1em;
            margin-top: 5em;
            margin-left: 1em;
        }

        .hr-right {
            width: 13em;
            border: .01em white solid;
            height: .1em;
            margin-top: 5em;
            margin-right: 1em;
        }

        .p-homepage {
            margin-top: 4.3em;
        }

        .h2-homepage {
            margin-top: .2em;
        }

        .btn-cacc {
            background-color: rgb(255, 188, 73);
            color: white;
            margin-top: 1em;
            padding: .2em;
            border-radius: 3px;
            text-align: center;
            width: 18em
        }

        .btn-cacc {
            transition: all .3s ease-in-out;
        }

        .btn-cacc:hover {
            text-decoration: none !important;
            transform: scale(1.2);
        }

        .homeContainer-text {
            color: #050D4D;
            font-weight: 300;
        }

        .homeContainer>p>a {
            text-decoration: none;
        }

        .homeContainer>p>a:hover {
            color: white;
        }

        .p-cacc {
            margin-bottom: 2em;
            transition: all .3s ease-in-out;
        }

        .p-cacc:hover {
            transform: scale(1.1);
            text-decoration: none
        }

        div>h3 {
            font-size: 31px;
            text-align: center;

        }

        div>h2 {
            font-size: 44px;
        }

        h1 {

            font-size: 55px;
            line-height: 1em;
        }


    }