@media (min-width: 300px) and (max-width: 768px) {
    .go-dashboard{
        color: rgb(255, 188, 73);
        font-weight: 600;
    }
    .go-dashboard:hover{
        color: rgb(255, 188, 73);
        font-weight: 600;
    }

}

@media (min-width: 1024px) {
.navbar-nav{
    font-weight: 300;
    font-size:14px;
    padding: 0 1em;
    margin-left: 25em
    }

   .home-img{
        width:220px;
        height:40px;
        position:relative;
        transform:translate(8vw, 0vh);
    }
    .nav-item{
        transition: all .3s ease-in-out; 
    }
    .nav-item:hover{
        transform: scale(1.2);
        
    }

    .go-dashboard{
        color: rgb(255, 188, 73);
        font-weight: 600;
    }
    .go-dashboard:hover{
        color: rgb(255, 188, 73);
        font-weight: 600;
    }

}