@media (min-width: 300px) and (max-width: 768px) {

    .wrapperOfferDetails {
        min-height: 100vh;
        overflow-x: hidden;
    }


    .h4-offDetails {
        color: #050D4D;
        font-weight: 600
    }

    .section-offerDetails {
        margin-top: 5em;
    }

    .pic-details {
        position: initial;
        margin-bottom: 2em;
        height: 4em
    }

    .longP {
        color: #050D4D;
        text-align: left;
        width: 20em
    }

    .offerDetails-aside {
        position: relative;
        transform: translate(0em, -6.5em);
        height: 15em;
        box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 18em;
        margin: auto;
    }

    .aside-span {
        color: #050D4D;
        font-weight: 600;
    }

    h6 {
        margin-top: 1em;
        color: #050D4D;
    }

    .back-btn {
        color: #050D4D;
        font-weight: 600;
        font-size: .9em
    }

    .back-btn:hover {
        color: #050D4D;
        text-decoration: none
    }

    aside>p {
        color: #050D4D;

    }
}

@media (min-width: 1024px) {

    .wrapperOfferDetails {
        min-height: 100vh;
        overflow-x: hidden;
    }

    .h4-offDetails {
        color: #050D4D;
        font-weight: 600
    }

    .section-offerDetails {
        position: relative;
        bottom: 8.5em;
    }
    .section-offerDetails-accept-offer{
        position: relative;
        top:2em
    }

    .pic-details {
        position: initial;
        margin-bottom: 2em;
    }

    .longP {
        color: #050D4D;
        text-align: left;
        width: 35em
    }

    .offerDetails-aside {
        position: relative;
        left: 47em;
        top: 16em;
        height: 16em;
        box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 18em
    }

    .no-offerDetails-aside{
        position: relative;
        left: 47em;
        top: 16em;
        height: 16em;
    
    }

    .aside-span {
        color: #050D4D;
        font-weight: 600;
    }

    h6 {
        margin-top: 1em;
        color: #050D4D;
    }

    .back-btn {
        color: #050D4D;
        font-weight: 600;
        margin-left: 16.6em;
        position: relative;
        top: 2em;
        z-index:2
    }

    .back-btn:hover {
        color: #050D4D;
        text-decoration: none
    }

    aside>p {
        color: #050D4D;

    }
}