@media (min-width: 300px) and (max-width: 768px){
    .switch-button__checkbox {
        display: none;
    }

    .switch-button__label {
        background-color: red;
        width: 2rem;
        height: 1rem;
        border-radius: 3rem;
        display: inline-block;
        position: relative;
        transform: translate(1em, .8em);
    }

    .switch-button__label:before {
        transition: .3s;
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: white;
        content: '';
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px black;
    }

    .switch-button__checkbox:checked+.switch-button__label {
        background-color: #00a878;
    }

    .switch-button__checkbox:checked+.switch-button__label:before {
        transform: translateX(1rem);
    }

    .form-postOffer {
        box-shadow: none !important;
    }

    .p-u-postJob {
        margin-top: 2em !important
    }

    .upload-logo[type='file'] {
        display: none
    }

    .a-conditions {
        font-size: .8em;
        position: relative;
        right: 6em;
        color: #050D4D;
    }

    .salaryAndDateWidth {
        width: 9.5em
    }

    .conditions-offer {
        color: #050D4D;
        text-decoration: underline;
        margin-left: 5.5em
    }

    .tox-statusbar__branding {
        display: none;
    }

    .tox-statusbar__wordcount {
        display: none;
    }

    .tox-statusbar__path-item {
        display: none !important;
    }

    .editor-div {
        background-color: white;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 15px;
        margin: auto !important;
        width: 22em;
        padding: 1em;
        margin-top: 1em !important;
    }

    .company-logo-upload{
        color: rgb(255, 188, 73);
        font-size: 1.6em;
        margin-left: .3em;
        position: relative;
        left: 12em;
        bottom: 1.7em;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .salaryAndDateWidth {
        width: 14em;
    }
    .conditions-offer {
        color: #050D4D;
        text-decoration: underline;
        margin-left: 9em;
        margin-top: 1em !important;
        display: block; 
    }
    
    .editor-div {
        background-color: white;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 15px;
        margin: auto !important;
        width: 30.5em !important;
        padding: 1em;
        margin-top: 1em !important;
    }
    .company-logo-upload{
        color: rgb(255, 188, 73);
        font-size: 1.6em;
        margin-left: .3em;
        position: relative;
        left: 18em;
        bottom: 1.7em;
    }

}

@media (min-width: 1024px) {
    .switch-button__checkbox {
        display: none;
    }

    .switch-button__label {
        background-color: red;
        width: 2rem;
        height: 1rem;
        border-radius: 3rem;
        display: inline-block;
        position: relative;
        transform: translate(1em, .8em);
    }

    .switch-button__label:before {
        transition: .3s;
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: white;
        content: '';
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px black;
    }

    .switch-button__checkbox:checked+.switch-button__label {
        background-color: #00a878;
    }

    .switch-button__checkbox:checked+.switch-button__label:before {
        transform: translateX(1rem);
    }

    .form-postOffer {
        box-shadow: none !important;
    }

    .upload-logo {
        display: none;
    }

    .browse-files-company {
        cursor: pointer;
        text-align: center;
        color: grey;
        background: #E3E1E2;
        width: 12em;
        margin-bottom: 2em;
        position: relative;
        bottom: 3.25em;
        padding: .15em;
        left: 19.9em;
        border-radius: 0 3px 3px 0;
    }

    .a-conditions {
        font-size: .8em;
        position: relative;
        right: 9em;
        color: #050D4D;
    }

    .tox-statusbar__branding {
        display: none;
    }

    .tox-statusbar__wordcount {
        display: none;
    }

    .tox-statusbar__path-item {
        display: none !important;
    }

    .salaryAndDateWidth {
        width: 13.8em
    }

    .conditions-offer{
        position: relative;
        left: 42em;
        top: 1em;
        color: #050D4D;
        text-decoration:underline;

    }

}