@media (min-width: 300px) and (max-width: 1099px) {
    .card-process {

        height: 11em;
        width: 100vw;
        color: #050D4D;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        position: relative;
        left: 1.5em;
        overflow-y: scroll;
        
    }
    .candidates-h3{
        margin-left:1em
    }

    .list-selecProcess-top {
        margin-top: 1em;
        margin-left: .5em;
        position: relative;
        left:1em
    }
    .list-selecProcess-insc{
        visibility: hidden;
    }

    .list-selecProcess-insc:after{
        margin-top: 1em;
        visibility: visible;
        content: 'Insc.';
        position: absolute;
        left: 16.7em;
        top:0
    }

    .list-selecProcess-proc {
        visibility: hidden;
    }

    .list-selecProcess-proc:after {
        margin-top: 1em;
        visibility: visible;
        content: 'Proc.';
        position: absolute;
        left: 21em;
        top:0
    }

    .list-selecProcess-hired {
        visibility: hidden;
    }

    .list-selecProcess-hired:after {
        margin-top: 1em;
        visibility: visible;
        content: 'Contr.';
        position: relative;
        right: 2em;
        top:1em;
    }
    .list-selecProcess-date{
        visibility: hidden;
    }

    .list-selecProcess-date:after{
        margin-top: 1em;
        visibility: visible;
        content: 'Fecha';
        position: relative;
        bottom: .5em;
        left: 1.6em;
    }

    .list-selecProcess-city {
        visibility: hidden;
    }

    .list-selecProcess-city:after {
        margin-top: 1em;
        content: 'Ciud.';
        visibility: visible;
        position: absolute;
        left: 7em;
    }

    .process-field {
        background-color: #F6F6F6;
        height: 1.5em;
        padding: 0 1em 0 1em;
        min-width: 2em;
        text-align: center;
        border-radius: 5px;
        font-weight: 600;
    }

    .process-field-1 {
        display: inline-block;
        width: 3em !important;
        overflow: scroll;
        white-space: nowrap;
        font-weight: 600;

    }

    .process-field-2 {
        display: inline-block;
        width: 3em !important;
        overflow: scroll;
        white-space: nowrap;
        margin-left: .5em;
        font-weight: 600;
    }
    
    .process-field-3{
        display: inline-block;
        width: 3em !important;
        overflow: scroll;
        white-space: nowrap;
        margin-left: .5em;
        font-weight: 600;
    }

    .btn-candidates {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 11em;
        margin:auto;
        display:block;
        position: absolute;
        transform: translate(-19em, 3em);

      
    }

    .parent-div {
        display: flex;
        justify-content: space-evenly;
    }

    .job-data{
        margin-bottom: 1em;
    }

}

@media (min-width: 1099px) {
    .candidates-h3{
        margin-left:8.5em
    }

    .card-process {
        min-height: 11em;
        height: 11em;
        color: #050D4D;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 10px;
        width: 74em;
        position: relative;
        left: 20em;
        margin-top: 3em
    }

    .list-selecProcess-top {

        font-size: .8em;
        width:15em;
        margin-left: 2em;
        margin-top: 1.5em
    }

    .list-selecProcess-insc {
        font-size: .8em;
        margin-top: 1.5em;
        width:14em;
        margin-bottom: 1em;
    }

    .list-selecProcess-proc {
        font-size: .8em;
        margin-top: 1.5em;
        width:14em;
        margin-bottom: 1em;
    }


    .list-selecProcess-hired {
        font-size: .8em;
        margin-top: 1.5em;
        width:16em;
        margin-bottom: 1em;
    }

    .list-selecProcess-city {
        font-size: .8em;
        margin-top: 1.5em;
        width:15em;
        margin-bottom: 1em;
    }

    .list-selecProcess-date{
        font-size: .8em;
        margin-top: 1.5em;
        width:15em;
        margin-bottom: 1em;
    }
    .inner-span{
        background-color: #F6F6F6;
        padding: .5em 2em .5em 1em
        }
    .process-field {
        
        width:15.4em;
        font-weight: 600;
        border-radius: 5px;
        font-size: .9em;
        display:inline-block;   

    }

    .process-field-1 {
        width:10.5em;
        margin-left: 1em;
        font-weight: 600;
        border-radius: 5px;
        font-size: .9em;
        display:inline-block;
    }
    
    .process-field-2 {
        position: relative;
        left: 2.4em;
    }
    .process-field-3 {
        position: relative;
        left: .4em;
    }
    .process-field-4 {
        position: relative;
        right: 2em;
    }
    .process-field-5 {
        position: relative;
        right: 5em;
    }

    .parent-div {
        display: flex;
        flex-wrap: nowrap;
    }

    .btn-candidates {
        border: none;
        background-color: rgb(255, 188, 73);
        color: white;
        padding: .4em;
        border-radius: 3px;
        text-align: center;
        width: 10.3em;
        position: relative;
        transform: translate(-52em, 1em); 
        margin-top:2.5em;  
        position: absolute;
    }

  

  
        
}