@media (min-width: 300px) and (max-width: 768px) {

    .card {
        height: 32em;
        position: relative; 
        top: 10vh
    }

    .email-resend {
        background-color: transparent;
        border: none;
        color: grey;
        text-decoration: underline;
    }

    .modal-header {
        border-bottom: none;
    }

    .tick-logo {
        width: 4em;
        position: relative;
        left: 35vw;
        
    }

    .user-terms-signupMssg {
        color: #050D4D;
        position: relative;

    }

}

@media (min-width: 1100px) {
    .card-signupMssg {
        height: 25em;
        margin-top:6em
    }

    .email-resend {
        background-color: transparent;
        border: none;
        color: grey;
        text-decoration: underline;
    }

    .modal-header {
        border-bottom: none;
    }

    .tick-logo {
        width: 4em;
        position: relative;
        top: 1vh;
    }

    
    .tick-logo-user {
        width: 4em;
        position: relative;
        left: 13vw;
        top: 1vh;
    }


    .form-token {
        position: relative;
        right: 2.5em;
    }
}