@media (min-width: 300px) and (max-width: 768px) {
    .user-data-mod{
        font-size:.9em;
        color: #050D4D;
    }  
    form > h4{
        color: #050D4D;
        font-weight: 600;
    }
 
    .profileh3 {
        font-size: 36px;
        margin-top: 0 !important;
        text-align: left;
        margin-left: 1.1em;
        position: relative;
        margin-bottom:0!important;  
        top:1em
    }
    .profile-card-short{
        left:0 !important;  
        height:20em;
        top:0
    }
    
    .profile-card{
        left:0 !important;  
        height:36em;
        top:0
    }
    .profile-card-long{
        height: 73em !important;
        top:0
    }
}

@media (min-width: 1024px) {
    .user-data-mod{
        font-size:.8em;
        color: #050D4D;
    } 
    form > h4{
        color: #050D4D;
        font-weight: 600;
    }
    
    .profileh3 {
        font-size: 36px;
        margin-top: 0 !important;
        text-align: left;
        margin-left: 8.8em;
        position: relative;
        margin-bottom:0!important;
        left:6.4em;
        top:1em
    }
    .profile-card-long{
        height: 73em !important;
    }
    .loader-calendly{
        text-align: center !important;
    }
    
    .modal-calendly .modal-content{
        right:12em;
        width:50vw
    }
    
}