@media (min-width: 300px) and (max-width: 768px) {

    .offersPage {
        overflow-y: scroll;
        background: white;
        height: 100vh;
    }

    .offersPage>div {
        width: 100vw;
    }

    .userName {
        font-size: .8em;
        color: #050D4D;
        margin-top: 2em
    }


    .logo-gamanfy-blue {
        width: 8em;
        margin: 2em 0 2em 3.2em;
    }

    .fas {
        margin-right: .4em;
    }

    .btn {
        font-weight: 600;
        color: #050D4D;
        margin-bottom: .3em;
        margin-right:.5em
    }

    .card-offers {
        height: 13em;
        color: #050D4D;
        margin-top: 5em;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        margin-right: auto;
        margin-left: auto
    }

    .offersList {
        list-style-type: none;
        margin-top: 1em;
        line-height: 1.8em;
        margin-left: 2em
    }

    .offersList>span {
        font-weight: 600;
    }

    .offer-pic {
        display: none;
    }

    .activeFilter {
        background: #F6F6F6;
        border: none;
        border-radius: 5px;
        width: 18em;
        height: 2em;
        margin: auto auto 1em auto;
        outline: none;
        display: block;
    }

    .longSpanOffer {
        font-size: .8em;
    }

    .companyName {

        right: 4em
    }

    .recommend-btn {
        visibility: hidden;
    }

    .recommend-btn:after {
        position: absolute;
        bottom: 10em;
        left: 17em;
        width: 2.2em;
        height: 1.6em;
        background: rgb(255, 188, 73);
        border-radius: 5px;
        color: white;
        border: none;
        content: 'R';
        visibility: visible
    }

/*     .menuspan {
        visibility: hidden;
    }

    .menuspan:before {
        visibility: visible;
        font-family: FontAwesome;
        content: "\f0c9";
        font-size: 1.5em;
        position: relative;
        bottom: .2em
    } */

    .logo-menuspan{
        height:2.5em;
        position: relative;
        bottom:.5em;
        right:.5em
    }

    .font-weight600 {
        font-weight: 600
    }

    .link-offer-details {
        color: #050D4D;
    }

    .link-offer-details:hover {
        color: #050D4D;
    }

    .userLog {
        text-align: end;
        background: #F7F7F7;
    }

    .card-offers {
        min-height: 11em;
        color: #050D4D;
        margin-top: 5em;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 5px;
        width: 21em;
        left: .3em;
        position: relative;
        transform: translate(0em, -8em);

    }

    .bm-item {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 10px;
        transition: color 0.2s;
        cursor: pointer;
        color: white !important;
    }

    .menu-item {
        padding-left: 3.3em
    }

    .bm-item:hover {
        background-color: white;
        color: #050D4D !important;
        width: 100%
    }

    .logo-gamanfy-blue:hover {
        width: 8em !important;
        background-color: transparent !important;
    }

    .bm-burger-button {
        position: fixed;
        width: .7em;
        height: 30px;
        left: 2.3em;
        top: .7em;
        content: ''
    }

    .bm-cross-button {

        position: absolute;
        width: 24px;
        height: 24px;
        right: 6em !important;
        top: 8px;
    }

    .bm-cross {
        background: #050D4D
    }

    .bm-menu {

        padding: 2.5em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #008DF1;
        width: 18em;
    }

    .btn-handler {
        padding-right: 7.79em;
        background: none;
        border: none
    }

    .btn-homeinfo {
        padding-right: 10em;
    }

    .btn-handler-long {
        padding-right: 2.52em;
        background: none;
        border: none
    }

    .help-card {
        margin-top: '10em';
        width: '60vw';
        margin-left: .5em;
        height: 5em
    }
    
    .filterOffers .material-icons {
        position: absolute;
        left: 13em;
        top: 4.2em;
        width: 2em;
        color: grey;
        border-radius: 5px;
        padding: .17em;
    }

    .filterOffers .material-icons-company{
        position: absolute;
        left: 13em;
        width: 2em;
        color: grey;
        border-radius: 5px;
        padding: .17em;
    }

    .section-academy{
        margin-left:3em
    }
    .p-academy{
        color: #050D4D;
        margin-top:2em;
        text-align:left
    }


}

@media (min-width: 1024px) {

    .offersPage {
        overflow-y: scroll;
        overflow-x: hidden;
        background: white;
        height: 100vh;
    }

    .logo-menuspan{
        height:3.5em;
        position: relative;
        top:.5em;
        left:1em
    }

    .offersPage>div {
        width: 100vw;
        position: relative;
        right: 1em;
    }

    .offersh3 {
        font-size: 36px;
        margin-top: .5em;
        text-align: left;
        margin-left: 7.3em;
    }

    .userName {
        font-size: 1em;
        color: #050D4D;
        margin-top: 2em;
        margin-right: 1em;
    }

    .logo-gamanfy-blue {
        width: 8em;
        margin: 2em 0 2em 3.2em;
    }

    .logo-gamanfy-blue:hover {
        background-color: transparent !important;
    }

    .fas {
        margin-right: .4em;
    }

    .btn {
        font-weight: 600;
        color: #050D4D;
        margin-bottom: .3em;
        margin-right: 1em;
    }

    .offers-wrapper {
        min-height: 100vh;
    }

    .card-offers {
        height: 13.5em;
        color: #050D4D;
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        border-radius: 10px;
        width: 74em;
        position: relative;
        left: 16em;
        margin-top: 3em
    }

    .offersList {
        list-style-type: none;
        margin-top: 2em;
        line-height: 1.8em;
        margin-left: 26em
    }

    .offersList>span {
        font-weight: 600;
    }

    .offer-pic {
        position: absolute;
        height: 7em;
        right: 57em;
        top: 2em;
    }

    .link-offer-details {
        color: #050D4D;
    }

    .link-offer-details:hover {
        color: #050D4D;
    }

    .filterOffers {
        box-shadow: 2px 6px 46px -8px rgba(196, 196, 196, 1);
        height: 4em;
        border-radius: 10px;
        margin-left: 16em;
        width: 73.6em
    }

    .filterOffers .material-icons {
        position: relative;
        left: 13.7em;
        top: 0.26em;
        width: 2em;
        color: grey;
        background: #F6F6F6;
        border-radius: 5px;
        padding: .17em
    }

    .activeFilter {
        background: #F6F6F6;
        border: none;
        border-radius: 5px;
        width: 18em;
        height: 2em;
        margin: 1em 1em;
        outline: none;
    }

    .companyName {
        right: 4em
    }

    .recommend-btn {

        position: relative;
        left: 60em;
        bottom: 5em;
        width: 12em;
        height: 3em;
        background: rgb(255, 188, 73);
        border-radius: 5px;
        color: white;
        border: none;
    }

    .font-weight600 {
        font-weight: 600
    }

    .userLog {
        text-align: end;
        background: #F7F7F7;
        width: 96em;

    }

    .btn-handler {
        padding-right: 7.79em;
        background: none;
        border: none
    }

    .btn-handler-long {
        padding-right: 2.52em;
        background: none;
        border: none
    }

    .bm-icon {
        right: 1em;
        bottom: 1.5em;
    }

    .bm-item {
        text-decoration: none;
        margin-bottom: 10px;
        transition: color 0.2s;
        color: white !important;
    }

    .menu-item {
        padding-left: 3.3em
    }

    .bm-item:hover {
        background-color: white;
        color: #050D4D !important;
        width: 100%
    }

    .logo-gamanfy-blue:hover {
        width: 8em !important;
    }

    .bm-burger-button {
        position: fixed;
        left: 5em;
        top: 3.3em;
        font-size: 1.2em;

    }

    .bm-cross-button {

        position: absolute;
        width: 24px;
        height: 24px;
        right: 6em !important;
        top: 8px;

    }

    .bm-cross {
        background: #050D4D
    }

    .userMenu .bm-menu {

        padding: 2.5em 0;
        font-size: .8em;
        overflow: hidden !important;
        line-height: 2.5em;
        background: #008DF1;
        width: 19em
    }

    .userMenu .bm-overlay {
        background: transparent !important
    }

    .loader {
        position: absolute;
        left: 37em;
        top: 17em
    }

    .help-card {
        position: relative;
        top: 10em;
        width: 60vw;
        margin: auto;
        display: block
    }

    .section-academy{
        margin-left:19em
    }
    .p-academy{
        color: #050D4D;
        margin-top:4em;
        text-align:left
    }

}